<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a class="navbar-link" href="/about"> About </a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" href="/resume"> Resume </a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" href="/portfolio"> Portfolio </a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" href="/links"> Find Me </a>
    </li>

    <li class="navbar-item">
      <a
        class="navbar-link"
        href="https://blog.benbassett.dev/"
        data-umami-event="blog"
        target="_blank"
        >Blog</a
      >
    </li>

    <li class="navbar-item">
      <a class="navbar-link" data-umami-event="contact" href="/contact">
        Contact
      </a>
    </li>
  </ul>
</nav>
