<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img
        src="./assets/images/ben.jpg"
        alt="Benjamin Bassett"
        width="80"
        style="border-radius: 15%"
      />
    </figure>

    <div class="info-content">
      <h1 class="name" title="Benjamin Bassett">Benjamin Bassett</h1>

      <p class="title">Witty tagline</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>More Info</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:ben@benbassett.dev" class="contact-link"
            >ben@benbassett.dev</a
          >
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+18607763632" class="contact-link">+1 (860) 776-3632</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Tolland, CT</address>
          <address>Hillsdale, MI</address>
        </div>
      </li>
    </ul>
  </div>
</aside>
